name: Simple CI

on:
  push:
    branches:
      - main  # replace with your branch name

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Print a greeting
      run: echo "Hello, this is a sample GitHub Action!"

    - name: Checkout code from another repository
      env:
        ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
      run: |
        git clone --branch ${{ vars.TAG_VERSION }} https://${{ secrets.ACCESS_TOKEN }}:x-oauth-basic@github.com/arsheshadri/child_repo.git

    - name: Readme
      run: |
        cd child_repo
        cat README.md
